@{
    ViewData["Title"] = "Upload Document";
}
<div class="container col-md-6 mt-4 bg-dark p-4 rounded shadow">
    <h3 class="text-info mb-3">Upload Supporting Documents</h3>

    <form method="post" enctype="multipart/form-data" asp-action="UploadDocuments">
        <input type="hidden" name="ClaimId" value="@ViewBag.ClaimId" />

        <div class="mb-3">
            <label>Select File (.pdf, .docx, .xlsx)</label>
            <input type="file" name="file" class="form-control" required />
        </div>

        <button class="btn btn-info w-100">Upload</button>
    </form>
</div>