@model CMCSPOE.Models.User;
@{
	ViewData["Title"] = "Lecturer Dashboard";
	var userRole = TempData["user_Role"]?.ToString();
	var userName = TempData["user_Name"]?.ToString();
}
<h1 class="text-info text-center mb-4">Dashboard</h1>
<p>You are logged in as: @TempData["user_Name"]</p>

<div class="dashboard-wrapper">
	@if (userRole == "Lecturer")
	{
		<div class="dashboard-card mb-4">
			<h3>Lecturer Panel</h3>
			<p>Manage your claims and documents here.</p>
			<a class="btn btn-primary w-100 mb-2" asp-controller="Claim" asp-action="SubmitClaim">Submit Claim</a>
			<a class="btn btn-primary w-100 mb-2" asp-controller="Claim" asp-action="UploadDocuments">Upload Supporting documents</a>
			<a class="btn btn-primary w-100 mb-2" asp-controller="Claim" asp-action="ViewClaims">View My Claims</a>

			<nav class="nav-item">
				<a class="nav-link dropdown-toggle" href="#" id="lecturerPanel" role="button" data-bs-toggle="dropdown">Lecturer Panel</a>
				<ul class="dropdown-menu bg-dark">
					<li>
						<a class="dropdown-item text-white" asp-controller="Lecturer" asp-action="Create">Create Lecturer</a>
					</li>
					<li>
						<a class="dropdown-item text-white" asp-controller="Lecturer" asp-action="LecturerList">Lecturer List</a>
					</li>
				</ul>
			</nav>
		</div>
	}
	@if (userRole == "Programme Coordinator")
	{
		<div class="dashboard-card mb-4">
			<h3>Programme Coordinator Panel</h3>
			<p>Verify and manage claims submitted by lecturers.</p>
			<a class="btn btn-primary w-100 mb-2" asp-controller="Dashboard" asp-action="Index">Dashboard</a>

			<a class="btn btn-primary w-100 mb-2" asp-controller="Claim" asp-action="VerifyClaims">Verify Claims</a>
		</div>
	}

	@if (userRole == "Academic Manager")
	{
		<div class="dashboard-card">
			<a class="btn btn-primary w-100 mb-2" asp-controller="Claim" asp-action="ApproveClaims">Approve Claims</a>
			<a class="btn btn-primary w-100 mb-2" asp-controller="Hr" asp-action="DownloadReport">DownloadReport(CSV)</a>
		</div>
	}
</div>
