<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMCSPOE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CMCSPOE.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">CMCS</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (Context.Session.GetString("Role") == "Lecturer")
					{
						<li class="nav-item"><a class="nav-link" asp-controller="Dashboard" asp-action="LecturerDashboard">Dashboard</a></li>
						<li class="nav-item"><a class="nav-link" asp-controller="Claim" asp-action="SubmitClaim">Submit Claim</a></li>
						<li class="nav-item"><a class="nav-link" asp-controller="Claim" asp-action="ViewClaims">My Claims</a></li>
					}
                    else if (Context.Session.GetString("Role") == "Programme Coordinator" || Context.Session.GetString("Role") == "Academic Manager")
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Claim" asp-action="VerifyClaims">Verify Claims</a></li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (Context.Session.GetString("FullName") != null)
                    {
                        <li class="nav-item text-light mt-2 me-3">Welcome, @Context.Session.GetString("FullName")</li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CMCSPOE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
